rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /plants/{plant} {
      // Allow user to read and mutate their own plants
      allow read, update, delete: if request.auth != null && resource.data.user_id == request.auth.uid;
      // Allow user to create plants with their own UID
      allow create: if request.auth != null && request.resource.data.user_id == request.auth.uid;
    }
  }
}